<h2> Edit new Todo.. </h2>
<form action = "#">
<input class ="text-input" type = "text" id = "new-todo" placeholder = "Add a new item" value = "<%=todo.description%>">
<input class = "text-input" type = "number" id = "new-pom"  placeholder = "# of Pomodoros" value = "<%=todo.pomodoro_estimate%>>
< class = text-input input id = "add-new-todo-button" type = "submit" value = "Edit Todo">
<a href = "/todo/index"></a>
</form>'