<html>
    <head>
        <title>
            
            
        </title>
    </head>
    <body>
        <h1> Luke's Morning To Do List</h1>
        <ul>
            <li><input type ="checkbox"/><a href= "show.html">Wake Up</a>
            <span class="pomodoros"> 1 pomodoros </span>
            </li>
            <li><input type ="checkbox"><a href= "show.html">Get Dressed<a/>
            <span class = "pomodoros"> 1 pomodoros </span>
            </li>
            <li><input type ="checkbox"><a href= "show.html">Eat Breakfast<a/>
            <span class = "pomodoros"> 2 pomodoros </span>
            </li>
            <li><input type ="checkbox"><a href= "show.html">Brush Teeth<a/>
            <span class = "pomodoros"> 1 pomodoros </span>
            </li>
            
            
        </ul>
       <div id = "to-do-block">
       <input class ="text-input" type = "text" id = "new-todo" placeholder = "Add a new item">
       <input class = "text-input" type = "number" id = "new-pom" placeholder = "# of Pomodoros">
       <input id = "add-new-todo-button" type = "submit" value = Add todo>
</div>
    </body>
</html>