<h2> Add new Todo.. </h2>
<form action = "/todo/create">
<input class ="text-input" type = "text" id = "new-todo" placeholder = "Add a new item">
<input class = "text-input" type = "number" id = "new-pom"  placeholder = "# of Pomodoros">
<input class = "text-input" id = "add-new-todo-button" type = "submit" value = "Add todo">
</form>