

        <h4>Todo #<%=params[:id]%></h4>
        <h2><%=@todo_description %> </h2>
        <span class = "pomodoro-est"> 
        <h3><%=@todo_pomodoro_estimate %> pomodoros </span></h3>
        <a href= "#"> Edit </a>
        <a href= "index.html">Cancel</a>



